// Navbar
mixin navbar(options)

    nav.navbar.navbar-marketing.navbar-expand-lg(class=options.navbarBg, class=options.navbarStyle, class=options.navbarPosition)
        div(class=options.navbarContainer)
            a.navbar-brand(href='index.html', class=options.navbarBrandColor)
                img.h-100(src='assets/img/logo/Logga-no_bg-1000-trimmed.png' width="150" alt='Frossarbo Ängar')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                i(data-feather='menu')
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ms-auto.me-lg-5
                    li.nav-item
                        a.nav-link(href='index.html')
                            .i18nelement(data-i18n='pages.home')
                    li.nav-item
                        a.nav-link(href='frossarbo17.html')
                            .i18nelement(data-i18n='pages.frossarbo17')
                    li.nav-item
                        a.nav-link(href='frossarbo19.html')
                            .i18nelement(data-i18n='pages.frossarbo19')
                    //- li.nav-item
                    //-     a.nav-link(href='vision.html')
                    //-         .i18nelement(data-i18n='pages.vision')
                    li.nav-item
                        a.nav-link(href='contact.html')
                            .i18nelement(data-i18n='pages.contact')
        
                        
               
            div.btn.btn-lg.d-none.d-lg-block
                input(id="language-toggle-event" type="checkbox" data-toggle="toggle" data-on="<div><span class='fa-2xl flag-icon flag-icon-gb p-2'></span>In&nbsp;English</div>" data-off="<div><span class='fa-2xl flag-icon flag-icon-se p-2'></span>På&nbsp;svenska</div>" data-onstyle="none" data-offstyle="none" data-size="normal")

    div.bg-white.d-flex.justify-content-center.d-lg-none
        input(id="language-toggle-event" type="checkbox" data-toggle="toggle" data-on="<div><span class='fa-2xl flag-icon flag-icon-gb p-2'></span>In&nbsp;English</div>" data-off="<div><span class='fa-2xl flag-icon flag-icon-se p-2'></span>På&nbsp;svenska</div>" data-onstyle="none" data-offstyle="none" data-size="normal")